{% load static %}
<div class="px-3 py-4 w-64 md:w-full overflow-y-auto bg-gray-50 dark:bg-gray-700 h-full">
    <div class="flex items-center pl-2.5 mb-5">
        <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Fletcher High School</span>
    </div>

    <div class="border-t border-gray-600 py-2"></div>

    <ul class="space-y-2">
        <li>
            <a href="{% url 'home' %}"
               class="duration-300 ease-in-out flex font-normal hover:bg-gray-200 hover:bg-opacity-30 hover:text-white
               p-2 rounded text-base text-ellipsis text-gray-300 transition-all">
                <i class="fa-solid fa-home-alt flex-shrink-0 w-5 h-5"></i>
                <span class="flex-1 ml-3 whitespace-nowrap">Home</span>
            </a>
        </li>
        <li>
            <a href="{% url 'subjects' %}"
               class="duration-300 ease-in-out flex font-normal hover:bg-gray-200 hover:bg-opacity-30 hover:text-white
               p-2 rounded text-base text-ellipsis text-gray-300 transition-all">
                <i class="fa-solid fa-book flex-shrink-0 w-5 h-5"></i>
                <span class="ml-3">Subjects</span>
            </a>
        </li>

        <li class="overflow-hidden h-10 cursor-pointer hover:h-40 transition-all duration-300 ease-in-out
        hover:bg-opacity-10 rounded">
            <div class="duration-300 ease-in-out flex font-normal hover:bg-gray-200 hover:bg-opacity-10
            hover:text-white p-2 rounded text-base text-ellipsis text-gray-300 transition-all">
                <i class="fa-solid fa-user-group flex-shrink-0 w-5 h-5"></i>
                <span class="flex-1 ml-3 whitespace-nowrap">Teachers</span>
                <span class="inline-flex items-center justify-end h-4 ml-3 text-gray-400">
                    <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd"
                                                                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                                                  clip-rule="evenodd"></path></svg>

                </span>
            </div>

            <a href="{% url 'teachers' %}"
               class="block pl-10 py-2 pr-2 duration-300 ease-in-out font-normal hover:bg-gray-200 hover:bg-opacity-10
               hover:text-white rounded text-sm text-gray-300">
                All Teachers
            </a>
            <a href="{% url 'students' %}"
               class="block pl-10 py-2 pr-2 duration-300 ease-in-out font-normal hover:bg-gray-200 hover:bg-opacity-10
               hover:text-white rounded text-sm text-ellipsis text-gray-300">
                Teachers Details
            </a>
            <a href="{% url 'students' %}"
               class="block pl-10 py-2 pr-2 duration-300 ease-in-out font-normal hover:bg-gray-200 hover:bg-opacity-10
               hover:text-white rounded text-sm text-ellipsis text-gray-300">
                Add Teacher
            </a>
        </li>

        <li class="overflow-hidden h-10 cursor-pointer hover:h-40 transition-all duration-300 ease-in-out bg-opacity-10 rounded">
            <div class="duration-300 ease-in-out flex font-normal hover:bg-gray-200 hover:bg-opacity-30 hover:text-white p-2 rounded text-base text-ellipsis text-gray-300 transition-all">
                <i class="fa-solid fa-people-group flex-shrink-0 w-5 h-5"></i>
                <span class="flex-1 ml-3 whitespace-nowrap">Students</span>
                <span class="inline-flex items-center justify-end h-4 ml-3 text-gray-400">
                     {% include 'icons/carret.html' %}
                </span>
            </div>

            <a href="{% url 'teachers' %}"
               class="block pl-10 py-2 pr-2 duration-300 ease-in-out font-normal hover:bg-gray-200 hover:bg-opacity-10
               hover:text-white rounded text-sm text-ellipsis text-gray-300">
                All Student
            </a>
            <a href="{% url 'teachers' %}"
               class="block pl-10 py-2 pr-2 duration-300 ease-in-out font-normal hover:bg-gray-200 hover:bg-opacity-10
               hover:text-white rounded text-sm text-ellipsis text-gray-300">
                Student Details
            </a>
            <a href="{% url 'teachers' %}"
               class="block pl-10 py-2 pr-2 duration-300 ease-in-out font-normal hover:bg-gray-200 hover:bg-opacity-10
               hover:text-white rounded text-sm text-ellipsis text-gray-300">
                Admission Form
            </a>
        </li>

        <li>
            <a href="{% url 'reports' %}"
               class="duration-300 ease-in-out flex font-normal hover:bg-gray-200 hover:bg-opacity-30 hover:text-white p-2 rounded text-base text-ellipsis text-gray-300 transition-all">
                <i class="fa-solid fa-file-lines flex-shrink-0 w-5 h-5"></i>
                <span class="flex-1 ml-3 whitespace-nowrap">Reports</span>
            </a>
        </li>

    </ul>
</div>