{% extends 'layout/main.html' %}
{% block content %}
    <div class="grid grid-cols-4 gap-4">
        <div class="bg-white border border-gray-200 hover:border-transparent rounded-lg hover:bg-gray-100 py-2">
            <a href="#" class="px-4 flex flex-col items-center  md:flex-row md:max-w-xl">
                <div class="rounded-full bg-gray-200 w-16 h-16 relative">
                    <i class="fa-solid fa-graduation-cap text-4xl text-gray-500 -ml-3"></i>
                </div>
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-bold text-gray-800">Students</h5>
                    <h6 class="text-xl text-gray-800 font-bold">58 654</h6>
                </div>
            </a>
        </div>
        <div class="bg-white border border-gray-200 hover:border-transparent rounded-lg hover:bg-gray-100 py-2">
            <a href="#" class="px-4 flex flex-col items-center  md:flex-row md:max-w-xl">
                <i class="fa-solid fa-school text-xl text-gray-500"></i>
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-base text-gray-800">Teachers</h5>
                    <h6 class="text-xl text-gray-800 font-bold">58 654</h6>
                </div>
            </a>
        </div>
        <div class="bg-white border border-gray-200 hover:border-transparent rounded-lg hover:bg-gray-100 py-2">
            <a href="#" class="px-4 flex flex-col items-center  md:flex-row md:max-w-xl">
                <i class="fa-solid fa-school text-xl text-gray-500"></i>
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-base text-gray-800">Students</h5>
                    <h6 class="text-xl text-gray-800 font-bold">58 654</h6>
                </div>
            </a>
        </div>
        <div class="bg-white border border-gray-200 hover:border-transparent rounded-lg hover:bg-gray-100 py-2">
            <a href="#" class="px-4 flex flex-col items-center  md:flex-row md:max-w-xl">
                <i class="fa-solid fa-school text-xl text-gray-500"></i>
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-base text-gray-800">Students</h5>
                    <h6 class="text-xl text-gray-800 font-bold">58 654</h6>
                </div>
            </a>
        </div>
    </div>
{% endblock %}