{% extends 'layout/main.html' %}

{% block content %}
    <div class="flex flex-col p-4 rounded-lg border bg-white">
        <div class="flex items-center justify-between pb-4">
            <h2 class="text-2xl font-medium tracking-tight text-gray-800">All Teachers</h2>
            <label for="table-search" class="sr-only">Search</label>
            <div class="flex">
                <div class="relative mr-4">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-2.5 lg:pl-3 pointer-events-none">
                        <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor"
                             viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                  clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <label for="teacher-table-search" class="sr-only">table search</label>
                    <input type="text" id="teacher-table-search"
                           class="block lg:p-2 lg:pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-10 h-10
                           lg:w-80 rounded-full bg-gray-50 focus:ring-blue-500 focus:border-blue-500 placeholder-gray-50"
                           placeholder="Search for a student">
                </div>
                <button type="submit"
                        onclick="showSubjectModal()"
                        class="w-10 h-10 rounded-full bg-indigo-600 text-lg border border-transparent focus:outline-none
                    focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 font-medium group hover:bg-indigo-700 md:pl-8
                    md:pr-4 md:w-fit whitespace-nowrap md:py-2 relative rounded-lg text-sm text-white md:pl-8">
                      <span class="static md:absolute md:inset-y-0 md:left-0 md:flex md:items-center md:pl-3">
                        <i class="fa-solid fa-plus"></i>
                      </span>
                    <span class="hidden md:inline">Add Teacher</span>
                </button>
            </div>
        </div>

        <div class="border overflow-x-auto rounded-lg mt-4 mb-3">
            <div class="inline-block min-w-full">
                <div class="overflow-x-auto">
                    <table class="min-w-full">
                        <thead class="border-b bg-gray-800">
                        <tr>
                            <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
                                ID
                            </th>
                            <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
                                Name
                            </th>
                            <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
                                Gender
                            </th>
                            <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
                                Age
                            </th>
                            <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
                                Class
                            </th>
                            <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
                                Subject
                            </th>
                            <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
                                Phone
                            </th>
                            <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
                                Email
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for teacher in teachers %}
                            <tr class="border-b hover:bg-gray-100 transition-colors duration-300 ease-in even:bg-gray-50">
                                <td class="text-sm text-gray-900 font-light px-6 py-4 capitalize">
                                    {{ teacher.id }}
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 capitalize">
                                    {{ teacher.first_name }} {{ teacher.last_name }}
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 capitalize">
                                    {{ teacher.gender }}
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 capitalize">
                                    {{ teacher.dob }}
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 capitalize">
                                    {{ teacher.class }}
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 capitalize">
                                    {{ teacher.subject }}
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4">
                                    {{ teacher.phone }}
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4">
                                    <span class="inline-block w-40 truncate">
                                        {{ teacher.email }}
                                    </span>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
