{% extends 'base.html' %}

{% block maincontent %}
    <aside class="md:w-64 z-50 h-full fixed bg-black bg-opacity-20 backdrop-blur-sm flex justify-end w-full left-0
    top-0 md:block hidden"
           aria-label="Sidebar">
        {#        <button class="btn inline-block px-6 hidden md:block py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded-lg shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700  focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out flex items-center"#}
        {#                type="button" id="button-addon2">#}
        {#            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="w-4" role="img"#}
        {#                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">#}
        {#                <path fill="currentColor"#}
        {#                      d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>#}
        {#            </svg>#}
        {#        </button>#}

        <div class="px-3 py-4 w-64 md:w-full overflow-y-auto bg-gray-50 dark:bg-gray-700 h-full">
            <div class="flex items-center pl-2.5 mb-5">
                <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Fletcher High School</span>
            </div>
            <div class="border-t border-gray-600 py-2"></div>
            {% include 'parent/sidebar.html' %}
            {% if user_type == 'teacher' %}
                {% include 'teacher/sidebar.html' %}
            {% elif user_type == 'principal' %}
                {% include 'principal/sidebar.html' %}
            {% elif user_type == 'student' %}
                {% include 'student/sidebar.html' %}
            {% endif %}
        </div>
    </aside>
    <div class="md:ml-64 ml-0">
        <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 border-b border-b-gray-300 backdrop-blur
            flex-initial">
            {% include 'layout/navbar.html' %}
        </nav>
        {#        <div class="px-2 sm:px-4 pt-4 static">#}
        {#            {% include 'layout/breadcrumbs.html' %}#}
        {#        </div>#}
    </div>

    <main class="p-2 py-4 sm:px-4 md:p-4 h-[calc(100%-69px)] overflow-y-auto md:ml-64 ml-0 ">
        <div class="container mx-auto">
            {% block content %}

            {% endblock content %}
        </div>
    </main>
{% endblock %}
